<style type="text/css">
 .channel-h5_footer_next{
   border-top: 1px solid #f0f0f0;
   overflow: hidden;
 }
 .channel-h5_footer_next > a {
    float: left;
    width: 50%;
    padding: 14px;
    font: 13px/1.3em a;
    color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    text-align: center;
}

.channel-h5_footer_next > a:first-child {
    border-right: 1px solid #f0f0f0;
}
</style>
<section class="channel-h5">
  <div class="channel-h5_header">
    <p class="channel-h5_title">
      男生最爱
    </p>
  </div>
  <div>
    <ul class="list-h5">
      <li v-for="item in male">
        <div class="book-h5">
          <div class="book-h5_cover">
            <img <img v-bind:src="item.cover" alt="{{item.title}}">
            <p class="book-h5_finish">完结</p>
          </div>
          <div class="book-h5_info">
            <p class="book-h5_title">{{item.title}}</p>
            <p class="book-h5_author">{{item.authors}}</p>
            <p class="book-h5_summary">{{item.summary}}</p>
            <div class="book-h5_wrap">
              <div class="book-h5_tag" v-for="tag in item.tags">{{tag}}</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="channel-h5_footer_next">
		<a class="btn-h5_next" href="javascript:;">换一换 </a>
		<a class="btn-h5_more" href="/male">男生频道</a>
	</div>
</section>
